{{#ifCond mode "SAVE"}}
<div class="wrap">
    <input type="text" id="textBox" placeholder="Write your message..." />
    <button class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
</div>
{{/ifCond}}
